.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-image: linear-gradient(#40E0D0, #FF8C00, #FF0080);
  background-image: linear-gradient(#ECE9E6, #fff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}


textarea {
  outline: none;
  resize: none;
  padding: 1rem;
  width: 50%;
  height: 25%;
  border: 1rem;
}

.word {
  color: #61dafb;
}

.entity {
 color: pink;
}

.index {
  color: lightgrey;
}